.heading-div {
  font-weight: bold;
  text-align: center;
  background-color: #2686da;
  height: 50px;
  padding-top: 15px;
}
.data-div {
  text-align: center;
  height: 40px;
}
// .row:nth-child(odd) {
//   background: #e0e0e0;
// }
