.table-div {
  margin-top: 50px;
}
td {
  text-align: center !important;
}
th {
  text-align: center !important;
}
.paginationBttns {
  margin-top: 40px;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #b8daff;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #b8daff;
}

.paginationActive a {
  color: white;
  background-color: #b8daff;
}
.threedots:after {
  content: "\2807";
  font-size: 25px;
}
.dropdown.dropdown {
  a {
    text-decoration: none;
  }
}
.react-confirm-alert-button-group {
  display: flex;
  justify-content: center !important;
}
.react-confirm-alert-body {
  text-align: center !important;
}
