.header {
  height: 80px;
  width: 100%;
  background-color: #0074d9;
  color: white;
  text-align: center;
  font-family: calibri;
}
.header-text {
  font-size: 20px;
  padding-top: 25px;
}
.more-icon-div {
  margin-top: 20px;
}
.more-icon {
  font-size: 2rem;
  margin-left: 57px;

  cursor: pointer;
}
.icon-button {
  margin-right: 47px;
  margin-top: 15px;
}
