.container-div {
  margin-top: 5% !important;
  padding-left: 30% !important;
}
.otp-btn {
  margin-left: 30px;
}

.success-msg {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
.card-div {
  width: 40%;
  margin-top: 30px;
  margin-left: 29% !important;
}
.otp-label {
  width: 42% !important;
  margin-left: 30% !important;
  margin-top: 10px !important;
}
.email-label {
  width: 80% !important;
  margin-left: 30px;
}
