.label {
  font-weight: bold;
}
.container-div {
  margin: 70px auto !important;
}
.login-container {
  margin-top: 130px;
}
.emp-label {
  margin-left: 230px;
  font-weight: bold;
}
.emp_img {
  width: 100%;
}
